{% extends "userprofile/base.html" %}


{% block  middle %}
    <div class="preferences">
        <form action="." method="POST">
            <div class="prefform">
                <h2>Podstawowe ustawienia konta</h2>
                {{ user_form.as_p }}
                <h2>Preferencje</h2>
                <p>
                <label>Avatar:</label> <em>konfiguracja za pomocą <a
                        href="http://en.gravatar.com/">gravatar</a>.</em>
                <img src="{{ user.get_profile.avatar }}" alt="gravatar" style="margin: -3em 0 -1em 5em;" />
                </p> 
                {{ profile_form.as_p }}
            </div>
            <div id="id_submit" style="text-align: right;"><input type="submit" value="Zapisz zmiany" /></div>
        </form>
    </div>
{% endblock %}
