{% extends "userprofile/base.html" %}


{% block  middle %}
    {% if info %}<div class="info center">{{ info }}</div>{% endif %}
    
    <div class="center" style="margin: 5em 0;">
        <form action="." method="POST" style="margin: 4em">
            <table style="margin: 2em auto; text-align: right;">
                {{ form.as_table }}
            </table>
            <p>
                Rejestracja jest jednoznaczna z akceptacją obowiązującego <a href="/regulamin/">regulaminu</a>.
                <div id="id_submit"><input type="submit" value="Rejestruj użytkownika" /></div>
            </p>
        </form>
        <a href="/accounts/login/">wróć do logowania</a>
    </div>
{% endblock %}
