{% extends "userprofile/base.html" %}


{% load markup %}

{% block middle %}
<div style="margin: 4em 10em;">
    <p>gravatar : <img src="{{ user.get_profile.avatar }}" /></p>
    <p>nick : {{ user.username }}</p>
    {% if user.first_name %}<p>imię : {{ user.first_name }}</p>{% endif %}
    {% if user.last_name %}<p>nazwisko : {{ user.last_name }}</p>{% endif %}
    <p>ostatnie logowanie : {{ user.last_login }}</p>
    <p>data rejestracji : {{ user.date_joined }}</p>
    {% if user.get_profile.signature %}
        <p>podpis : {{ user.get_profile.signature|markdown }}</p>
    {% endif %}
</div>
{% endblock %}
