{% extends "forum/base.html" %}

{% load markup %}

{% block css %} 
    {{ block.super }} 
    <link rel="stylesheet" type="text/css" href="/static/css/addform.css" />
{% endblock %}

{% block head %}
    {% for feed in feeds %}
        <link rel="alternate" type="application/atom+xml" title="{{ feed.cls.title }}" href="/news/feeds/{{ feed.url }}/" /> 
    {% endfor %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="/static/javascript/jquery.autogrow.js"></script>
    <script type="text/javascript" src="/static/javascript/markdown.js"></script>
    <script type="text/javascript" src="/static/javascript/textareagrow.js"></script>
    <script type="text/javascript" src="/static/javascript/blockquote_hide.js"></script>
    {# TODO <script type="text/javascript" src="/static/javascript/seen_posts.js"></script> #}
    <script type="text/javascript" src="/static/javascript/ajax_markdown.js"></script>
{% endblock %}


{% block title %}{{ block.super}} : {{ thread.title }}{% endblock %}

{% block path %}
    <strong><a href="/forum/">Forum</a></strong>
    <strong>
        &raquo; {{ thread.title }}
    </strong> 
    <em>
        {% if thread.sticky %} &bull; Przyklejony{% endif %}
        {% if thread.solved %} &bull; Rozwiązany{% endif %}
        {% if thread.closed %} &bull; Zamknięty{% endif %}
    </em>
{% endblock %}

{% block submenu_base %}
    {% if user.is_authenticated %}
        {% ifequal user thread.author %} 
            {% if not thread.solved %} 
                <li><a href="toggle_solved/">Oznacz topik jako &bdquo;rozwiązany&rdquo; </a></li>
            {% endif %}
        {% else %}
            {% if perms.thread.can_change %} 
            {% if not thread.solved %}
                <li> <a href="toggle_solved/">Oznacz topik jako &bdquo;rozwiązany&rdquo; </a></li> 
            {% endif %}
            {% endif %}
        {% endifequal %}
        {% if perms.thread.can_change %}
            {% if thread.sticky %}
                <li><a href="toggle_sticky/">Odklej topik</a></li>
            {% else %}
                <li><a href="toggle_sticky/">Przyklej topic</a></li>
            {% endif %}

            {% if not thread.closed %}
                <li><a href="toggle_block/">Zamknij topik</a></li>
            {% else %}
                <li><a href="toggle_block/">Otwórz topik</a></li>
            {% endif %}
        {% endif %}
        {% if perms.thread.can_delete %}
            <li><a class="confirm" href="delete/">Usuń cały wątek</a></li>
        {% endif %}
    {% endif %}
{% endblock %}


{% block forumdata %}
{% for p in post %}
<div class="post" id="{{ p.id }}">
    <div class="post_body">
        <div class="lnav">
            <strong>
                <span class="post_author"><a href="{{ p.author.get_absolute_url }}">{{ p.author }}</a></span>
            </strong>
            <p style="margin: 0" class="post_date"><small>
                {{ p.date|date:"D d M Y" }} &bull; {{ p.date|date:"H:i" }}
            </small></p>
            
            <div class="avatar">
                <img src="{{ p.author.get_profile.avatar }}" alt="" />
                <!-- <img src="/static/images/default_avatar.png" alt="" />  -->
            </div>

            {% if user.is_authenticated %} 
                {% if perms.thread.can_change %}
                            <a href="{{ p.id }}/edit/">edytuj</a> 
                            &bull; <a class="confirm" href="{{ thread.get_absolute_url }}{{ p.id }}/delete/">usuń</a> 
                {% else %}
                    {% ifequal p thread.latest_post %}
                        {% ifequal p.author.username user.username %}
                            <a href="{{ p.id }}/edit/">edytuj</a> 
                            &bull; <a class="confirm" href="{{ thread.get_absolute_url }}{{ p.id }}/delete/">usuń</a> 
                        {% endifequal %}
                    {% endifequal %}
                {% endif %}

                {% ifnotequal user thread.latest_post.author %}
                    &bull; <a href="{{ thread.get_absolute_url }}reply/quote/{{ p.id }}/">cytuj</a>
                {% endifnotequal %}
            {% endif %}
        </div>

        <div class="rnav">
            <div class="post_text">{{ p.text|markdown }}</div>
            {% if user.show_signatures and p.author.get_profile.signature%}
                <div class="post_signature">{{ p.author.get_profile.signature|markdown }}</div>
            {% endif %}
        </div>
    </div>
</div> <!-- class="post" -->
{% endfor %}


{% if user.is_authenticated and not thread.closed %}
    {% ifnotequal thread.latest_post.author user %}
        <div id="response">
            <div id="form">
                <form action="reply/" method="POST" class="center preview">
                    {{ form.text.errors }}
                    {{ form.text }}
                    <div id="new_post_info">
                        Do formatowania tekstu możesz użyć składni 
                        <a href="http://en.wikipedia.org/wiki/Markdown">mardkown</a> 
                        <span id="markdown_info"></span>
                    </div>
                    <div id="id_submit">
                        <input name="submit" type="submit" value="Wyślij" />
                    </div>
                </form>
            </div>
        </div>
    {% endifnotequal %}
{% endif %}

{% if page.sitecount %}
    <div class="center" style="clear: both;">
        &laquo;
        {% for n in page.sitecount %}
            {% ifequal n page.offset_step %}
                <strong>{{ n }}</strong>
            {% else %}
                <a href="{{ thread.get_absolute_url }}offset/{{n}}/">{{ n }}</a>
            {% endifequal %}
            {% if not forloop.last %}&bull;{% endif %}
        {% endfor %}
        &raquo;
    </div>
{% endif %}


<div style="clear: both; height: 8em;"><!-- placeholder --></div>

{% endblock %}
