{% extends "forum/base.html" %}


{% block forumdata %}

{% if threads %}
    <table class="list">
        <thead>
            <tr>
                <td class="t_name">Tytuł</td>
                <td class="t_author">Autor</td>
                <td class="t_pnumb">Odpowiedzi</td>
                <td class="t_vnumb">Wyświetlenia</td>
                <td class="t_last">Ostatnia zmiana</td>
            </tr>
        </thead>
        <tbody>

        {% for t in threads %}
            <tr>
                <td class="t_name">
                    <strong><a href="{{ t.get_absolute_url }}">{{ t.title }}</a></strong>
                    <p>
                        <small>
                            {% if t.sticky %}&bull; Przyklejony{% endif %}
                            {% if t.solved %}&bull; Rozwiązany{% endif %}
                            {% if t.closed %}&bull; Zamknięty{% endif %}
                            &bull;
                            {% for tag in t.tags %} 
                                {{ tag }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            &bull; 
                            <a href="{{ t.get_absolute_url }}feed/">feed</a>
                        </small>
                    </p>
                </td> 
                {# <td class="t_author"><a href="{{ t.author.get_absolute_url }}">{{ t.author }}</a></td> #}
                <td class="t_author">{{ t.author }}</td>
                <td class="t_pnumb">{{ t.post_count }}</td>
                <td class="t_vnumb">{{ t.view_count }}</td>
                <td class="t_last">
                    <small>{{ t.latest_post_date|date:"D d M Y  -  H:i" }} &bull; {{ t.latest_post_author }}</small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if page.next %}
        <div class="center"><a href="/forum/older/{{ page.next }}/">&lsaquo; Pokaż starsze</a></div>
    {% endif %}

{% else %}
    <div class="infobox center">Brak postów do wyświetlenia</div>
{% endif %}



{% endblock %}
