{% extends "bugtracker/base.html" %}

{% block bugdata %}
    <div>
        <h2>{{ bug.title }}</h2>
        {{ bug.reported_by }} - {{ bug.date_reported }} 
        {% if bug.closed %}
            <div class="bug_closed">
                {{ bug.closed_by }} - {{ bug.closed_date }}
            </div>
        {% endif %}
        {{ bug.description }}
    </div>

    {% for c in comments %}
    <div>
        <h4>{{ c.author }} - {{ c.date }}</h4>
        {{ c.text }}
    </div>
    {% endfor %}
    
    <div>
        <form>
            {{ form.as_p }}
        </form>
    </div>

{% endblock %}
