{% extends "base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/addnews.css" />{% endblock %}

{% block middle %}
    <div class="formbox">
        <form action="." method="POST">
            {{ form.title.errors }}
            {{ form.title }}

            {{ form.text }} 
            {{ form.text.errors }} 

            <div id="id_submit"><input type="submit" value="Wyślij" /></div>
        </form>
    </div>
    <div class="wmd-preview"></div>    
    <script type="text/javascript" src="/static/javascript/wmd.js"></script>
{% endblock %}

    
