{% extends "base.html" %}

{% load markup %}


{% block head %}
    <link rel="alternate" type="application/atom+xml" title="Arch Linux RSS" href="/news/rss/" /> 
{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/news.css" /> {% endblock %}

{% block submenu %}
    {% if user.is_authenticated %}
        <li><a href="/news/showall/">Pokaż wszystkie artykuły</a></li>
        <li><a href="/news/create/">Zaproponuj artykuł</a></li>
    {% endif %}
        <li><a href="/news/rss/">RSS</a></li>
{% endblock %}


{% block middle %}

{% endblock %}
