{% extends "base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/addform.css" />{% endblock %}

{% block middle %}
    <div class="formbox">
        <form action="." method="POST">
            {{ form.title.errors }}
            {{ form.title }}

            {{ form.text }} 
            {{ form.text.errors }} 

            <div id="id_submit">
                <input name="preview" type="submit" value="Podgląd" />
                <input name="submit" type="submit" value="Wyślij" />
            </div>
        </form>
    </div>
    <div style="text-align:right; margin: 1em 3em;">Do formatowania tekstu możesz użyć składni <a href="http://en.wikipedia.org/wiki/Markdown">mardkown</a></div>
{% endblock %}

    
