{% extends "base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/addform.css" />{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="/static/javascript/markdown.js"></script>
    <script type="text/javascript" src="/static/javascript/ajax_markdown.js"></script>
{% endblock %}

{% if preview %}
    <div class="form_preview">
        {{ preview }}
    </div>
{% endif %}


{% block middle %}
    <div class="formbox">
        <form action="." method="POST" class="center preview">
            {{ form.title.errors }}
            {{ form.title }}

            {{ form.text }} 
            {{ form.text.errors }} 

            <div style="text-align:right; margin: 1em 3em;">
                Do formatowania tekstu możesz użyć składni <a href="http://en.wikipedia.org/wiki/Markdown">mardkown</a>
                <span id="markdown_info"></span>
            </div>
            <div id="id_submit">
                <input name="submit" type="submit" value="Wyślij" />
            </div>
        </form>
    </div>
{% endblock %}

    
