{% extends "news/base.html" %}

{% load markup %}

{% block title %} {{ block.super }} - wiadomości {% endblock %}

{% block middle %}
    <div class="infobox" style="font-size: 0.9em;">
        <h2>Witaj na polskiej stronie Archa!</h2>

        <p>Znalazłeś się na stronie poświęconej Arch Linuksowi, lekkiej i
        elastycznej dystrybucji Linuksa®, która coraz mniej stara się trzymać zasady 
        <em>Keep It Simple.</em></p>

        <p>Posiadamy oficialne repozytoria dla pakietów optymalizowanych dla
        architektur i686 oraz x86-64. Bla bla bla.. jesteśmy fajni.</p>
    </div>


    {% for n in news %}
        <div class="news">
            <div class="header">
                <div class="title"><a href="{{ n.get_absolute_url }}">{{ n.title|capfirst }}</a></div>
                <div class="date">{{ n.author }} - {{ n.date|date:"D d M Y" }}</div>
            </div>
            <div class="text">
                {{ n.text|escape|markdown|truncatewords_html:100 }}
            </div>
        </div>
    {% endfor %}

    <div class="center">
    {% for i in page.newsrange %}
        {% ifequal i page.offset %}
            <strong>{{ i }}</strong>
        {% else %}
        <a href="/news/older/{{ i }}/">{{ i }}</a>
        {% endifequal %}
        {% if not forloop.last %} &bull; {% endif %}
    {% endfor %}
    </div>
{% endblock %}
