<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="fluid-icon" href="/static/images/favicon.png" title="Arch Linux" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Arch Linux Polska{% endblock %}</title>
        {% block head %} {% endblock %}
        {% block css %} {% endblock %}
        <script type="text/javascript" src="/static/javascript/jquery.js"></script>
        <script type="text/javascript" src="/static/javascript/popupinfo.js"></script>
        {% block javascript %} {% endblock %}
    </head>
    <body>
        {% if popupinfo %}
            <div id="popupinfo">
                {{ popupinfo }}
            </div>
        {% endif %}
        <div class="header">
            <img src="/static/images/arch_logo.png" alt="" />
            {% block header %} {% endblock %}
            <div class="header-menu">
                <ul class="menu">
                    {% block menu %}
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="/forum/">Forum</a></li>
                    <li><a href="#">Wiki</a></li>
                    <li><a href="/planet/">Planeta</a></li>
                    <li><a href="http://aur.archlinux.org/">AUR</a></li>
                    <li><a href="http://bugs.archlinux.org/">Bugs</a></li>
                    <li><a href="#">Polskie Repozytorium</a></li>
                    {% endblock %}
                </ul>
                <ul class="submenu">
                    {% block submenu %}
                    {% endblock %}
                    <li> <!-- space keeper --> </li>
                    {% if user.is_authenticated %}
                        <li><a href="/accounts/preferences/">Profil</a></li>
                        <li><a href="/accounts/logout/">Wyloguj się</a></li>
                    {% else %}
                        <li><a href="/accounts/login/">Zaloguj się</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="menu-shadow"></div>
        </div>

        {% block middle %} {% endblock %}
    </body>
</html>
