table.list {
    margin: 2em auto;
    border-collapse: collapse;
    width: 96%;
    min-width: 60em;
    line-height: 3.1em;
    border-bottom: 1px solid #DCDCDC;
}

table.list td { padding: 0 1em; }

.list thead{
    border-bottom: 1px solid #DCDCDC;
    color: #333333;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
}

thead.topic-header { border: #0771A6; }

thead.topic-header td { border-bottom: 3px solid #98B3D5; }

thead.topic-header {
    padding: 0.3em 1em;
    background-color: #EFEFEF;
    border: 1px solid #D2D2D2;
    font-weight: bold;
    font-size: 0.9em;
    color: #5E5E5E;
}

tbody tr:hover {
    background: #ECEDFF;
}

td.t_name { min-width: 30em; }

td.t_tnumb { text-align: center; }
td.t_pnumb { text-align: center; }
td.t_last { text-align: center; }
td.t_vnumb { text-align: center; }

td.t_name img { margin: 0 0.5em -0.2em 0; }

/* response container */

#response {
    margin: 0 auto;
    clear: both;
}

#form {
    width: 99%;
    margin: 0 auto;
}

#new_post_info {
    font-size: 0.8em;
    clear: both;
    text-align: right;
    margin: 0 7em;
}

/* post */
.topic-info { font-size: 1.4em; margin: 0.5em 2em; }

.post { clear: both; margin: 0 1em; }
.post .user-info { margin: 1em; text-align: center; }
.post { 
    /* border: 1px solid #DCDCDC;   */
    border-bottom: 1px solid #C1C1C1;  
    background: #ffffff;
    min-height: 160px;
}

.post .panel {
    /* background-color: #EFEFEF; */
    font-size: 0.8em;
    background-color: #ECECEC;
    margin: 0;
    padding: 0 1em;
    /* border-bottom: 1px solid #DCDCDC; */
    border-bottom: 1px solid #C5C5C5;
}
.post .panel-right { text-align: right; float: right; }

.rnav { padding: 0 1em; margin-left: 180px; }
.lnav { position: absolute; padding: 0 0.5em; }
.avatar img { margin: 0.5em; }

/* search form */
.search-form {
    position: absolute;
    top: 80px;
    right: 2px;
    text-align: right;
    margin: 1em 1em 0 1em;
}
.search-form input {
    border: 1px solid #D2D2D2;
    background: #ffffff;
    padding: 0.2em 0.5em;
}
.search-form #id_searchtext { min-width: 20em; }

.closed, .closed a { color: #8A8A8A; }

blockquote {
    /*
    border: 1px solid #CACACA;
    border-left: 3px solid #717171;
    */
    padding: 0.5em 1em;
    margin: 0.3em 0;
    background: #F2F2F2;
    border: 1px solid #E2E2E2;
    color: #717171;
    font-size: 0.9em;
}

blockquote p { margin: 0.1em; padding 0; }

pre {
    color: #000000;
    padding: 0.5em 0 0.5em 3em;
    margin: 0.5em 0.1em 0.5em 2em;
    border: 1px solid #BFBFBF;
    border-left: 3px solid #BFBFBF;
    line-height: 1.2em;
    font-family: sans-serif, Monospace, fixed;
}

/* TODO */
td .t_author { font-style: italic; }


.post_signature {
    margin: 1em 0 2em 0;
    font-size: 0.9em;
    color: #B5B5B5;
    /*border-top: 1px solid #C1C1C1; */
}
.post_signature p { margin: 0; padding: 0; }

.post_signature a { color: #B5B5B5; text-decoration: underline; }
.post_signature a:hover { color: #313131; }

.post_text {
    min-height: 80px;
}

.thread_prop {
    margin: 1em 0;
}


#forum_path_info {
    position: absolute;
    left: 1em;
}
