table.list {
    margin: 2em auto;
    border-collapse: collapse;
    border: 1px solid #D2D2D2;
    width: 96%;
    min-width: 60em;
    line-height: 2.5em;
}

table.list td { padding: 0 1em; }

.list thead{
    background: #EFEFEF;
    border-bottom: 1px solid #D2D2D2;
    color: #333333;
    font-weight: bold;
    text-align: center;
}

thead.topic-header { border: #0771A6; }

thead.topic-header td { border-bottom: 3px solid #98B3D5; }

thead.topic-header {
    padding: 0.3em 1em;
    background-color: #EFEFEF;
    border: 1px solid #D2D2D2;
    font-weight: bold;
    font-size: 0.9em;
    color: #5E5E5E;
}

td.t_name { min-width: 30em; }

td.t_tnumb { text-align: center; }
td.t_pnumb { text-align: center; }
td.t_last { text-align: center; }
td.t_vnumb { text-align: center; }

td.t_name img { margin: 0 0.5em -0.2em 0; }

/* response container */

#response {
    margin: 1.5em 1em;
    height: 250px;
}

#form {
    float: left;
    width: 45%;
    height: 240px;
    margin: 5px 0px;
}

#help {
    padding: 0px 5px;
    height: 240px;
    width: 45%;
    margin: 5px 0px;
    float: right;
}

/* post */
.topic-info {
    font-size: 1.4em;
    margin: 0.5em 2em;
}

.post {
    clear: both;
    margin: 1.5em 1em;
    background: #EFEFEF;
}

.post .user-info {
    margin: 1em;
    text-align: center;
}

.leftnav {
    min-width: 6em;
    float: left;
}

.rightnav { } 
.post { border: 1px solid #DCDCDC; }
.text { padding: 0.3em; }

.user-name {
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.post .panel {
    background-color: #EFEFEF;
    margin: 0;
    padding: 0.1em 1em;
}

.post .panel-right {
    text-align: right;
    float: right;
}

.signature {
    margin: 0;
    padding: 0.1em 1em;
    font-size: 0.7em;
    /* background: #EFEFEF; */
    min-width: 40em;
    height: 1em;
    color: #8E8E8E;
    text-align: right;
}
.signature a { color: #8E8E8E; }
.signature p { margin: 0; padding: 0 }

.lnav { 
    position: absolute;
    width: 100px;
}

.rnav {
    border: 1px solid #D2D2D2;
    border-right: none;
    background: #ffffff;
    padding: 0 1em;
    margin-left: 100px;
    min-height: 70px;
}

.avatar img { max-height: 80px; padding: 0 0.8em; }

/* search form */
.search-form {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
    margin: 1em 2em 0 2em;
}
.search-form input {
    border: 1px solid #D2D2D2;
    background: #EFEFEF;
    padding: 0.2em 0.5em;
}

.search-form #id_searchtext { min-width: 20em; }
