table.list {
    margin: 2em auto;
    border-collapse: collapse;
    /* border: 1px solid #D2D2D2; */
    border: 1px solid #333333;
    width: 96%;
    min-width: 60em;
    line-height: 2.1em;
}

table.list td { padding: 0 1em; }

.list thead{
    /* background: #EFEFEF; */
    background: #333333;
    border-bottom: 1px solid #333333;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

thead.topic-header { border: #0771A6; }

thead.topic-header td { border-bottom: 3px solid #98B3D5; }

thead.topic-header {
    padding: 0.3em 1em;
    background-color: #EFEFEF;
    border: 1px solid #D2D2D2;
    font-weight: bold;
    font-size: 0.9em;
    color: #5E5E5E;
}

td.t_name { min-width: 30em; }

td.t_tnumb { text-align: center; }
td.t_pnumb { text-align: center; }
td.t_last { text-align: center; }
td.t_vnumb { text-align: center; }

td.t_name img { margin: 0 0.5em -0.2em 0; }

/* response container */

#response {
    margin: 0 1em;
    float: right;
}

#form {
    float: left;
    min-width: 45em;
    margin: 2px 0px;
}

#help {
    padding: 0px 5px;
    height: 240px;
    width: 45%;
    margin: 5px 0px;
    float: right;
}

/* post */
.topic-info { font-size: 1.4em; margin: 0.5em 2em; }

.post { clear: both; margin: 1.5em 1em; }
.post .user-info { margin: 1em; text-align: center; }
.post { 
    /* border: 1px solid #DCDCDC;   */
    border: 1px solid #C1C1C1;  
    background: #ffffff;
    min-height: 98px;
}

.post .panel {
    /* background-color: #EFEFEF; */
    background-color: #E0E0E0;
    margin: 0;
    padding: 0.1em 1em;
    /* border-bottom: 1px solid #DCDCDC; */
    border-bottom: 1px solid #C5C5C5;
}

.post .panel-right {
    text-align: right;
    float: right;
}

.rnav {
    border-right: none;
    padding: 0 1em;
    margin-left: 80px;
}

.lnav { position: absolute; }
.avatar img { 
    max-height: 70px; 
    padding: 0 0.5em; 
    margin: -0.5em 0;
}

/* search form */
.search-form {
    position: absolute;
    top: 80px;
    right: 2px;
    text-align: right;
    margin: 1em 1em 0 1em;
}
.search-form input {
    border: 1px solid #D2D2D2;
    background: #ffffff;
    padding: 0.2em 0.5em;
}
.search-form #id_searchtext { min-width: 20em; }

.closed, .closed a { color: #8A8A8A; }
