body {
    min-width: 600px;
    margin: 0 auto;
    color: #46494d;
    /* font-family: "DejaVu Sans", "Bitstream Vera Sans", "Lucida Grande", Arial, sans-serif; */
    font-family: 'News Gothic MT', 'Trebuchet MS', Arial, Helvetica, sans-serif; 
    font-size: 0.85em;
}

.center { text-align: center; }
.info { border: 2px solid #1793D1; margin: 3em auto; padding: 1em; max-width: 60em}

a {
    text-decoration: none;
    color: #1793D1;
}

a:hover {
    color: #333333;
}

/* menu */
.header-menu {
    text-align: right;
    padding: 0;
    font-family: "Bitstream Vera Sans", "Lucida Grande", Arial, sans-serif;
}

.header-menu ul.menu {
    background: #333333;
    line-height: 1.4em;
}

.header-menu ul {
    padding: 0.2em;
    margin: 0;
}

.header-menu a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding: 0.3em 0.6em;
}

.header-menu a:hover {
    background: #1793D1; 
}

.header-menu ul.menu {
    display: block;
    list-style: none;
}

.header-menu ul.menu li {
    display: inline;
    padding: 0 1em;
}


.header-menu ul.submenu {
    background: #1793D1;
}

.header-menu ul.submenu li {
    display: inline;
    padding: 0 1em;
    line-height: 1.4em;
}



