body {
    min-width: 800px;
    margin: 0 auto;
    color: #333333;
    /* font-family: "DejaVu Sans", "Bitstream Vera Sans", "Lucida Grande", Arial, sans-serif; */
    font-family: 'News Gothic MT', 'Trebuchet MS', Arial, Helvetica, sans-serif; 
    font-size: 0.85em;
}

.center { text-align: center; }

a {
    text-decoration: none;
    color: #1793D1;
}

a:hover {
    color: #333333;
}

.header { 
    padding: 1em 0; 
    /*
    background: #EFEFEF;
    border-bottom: 1px solid #D2D2D2;
    */
}


/* menu */
.header-menu {
    text-align: right;
    padding: 0;
    font-size: 0.9em;
    font-family: "dejavu sans", "bitstream vera sans", "lucida grande", arial, sans-serif;
    /* font-family: "Bitstream Vera Sans", "Lucida Grande", Arial, sans-serif; */
    background: #333333;
    margin: 0.5em 0 0 0;
}

.header-menu ul.menu {
    /* background: #333333; */
    line-height: 1.6em;
    font-size: 1.1em;
    /* border-top: 1px solid #A2A2A2; */
}

.header-menu ul {
    padding: 0.1em 0em;
    margin: 0;
}


.header-menu a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding: 0.25em 1.3em;
    margin: 0 -1em;
}

.header-menu a:hover {  
    color: #ffffff; 
    background: #1793D1;
}

.header-menu ul.menu {
    display: block;
    list-style: none;
}

.header-menu ul.menu li {
    display: inline;
    padding: 0 1em;
}

ul.submenu {
    background: #1793D1;
    /* background: #C74545; */
    line-height: 1.6em;
    min-height: 1.6em;
    font-size: 1.1em;
}

ul.submenu a { color: #ffffff; }
.submenu a:hover { color: #ffffff; background: #333333; }
ul.submenu li { 
    display: inline; 
    padding: 0 0.4em; 
}

.menu-shadow {
    background: url("/static/images/menu_panel_shadow.png") repeat-x;
    min-height: 30px;
}

.infobox {
    background: #EFEFEF;
    border: 1px solid #D2D2D2;
    margin: 2em auto;
    padding: 1em;
    width: 80%;
}

#popupinfo {
    position: absolute;
    width: 100%;
    background: #DEEB83;
    border-bottom: 2px solid #333333;
    font-size: 1.4em;
    color: #333333;
    padding: 0.6em;
    text-align: center;
}
