{% extends "messages/base.html" %}


{% block box %}

<div class="message_box">
    {% if messages %}
        {% for message in messages %}
            <div class="single_message">
                <div class="message_header">
                    <div style="float: left;">
                        <a href="{{ message.sender.get_absolute_url }}">
                            <strong>{{ message.sender }}</strong>
                        </a> dnia <em>{{ message.date }}</em> napisał do 
                        <a href="{{ message.receiver.get_absolute_url }}">
                            <strong>{{ message.receiver }}</strong>
                        </a>:
                    </div>
                    <div style="text-align:right;">
                        {% ifnotequal message.sender user %}
                            <a href="{{ message.get_absolute_url }}response/">odpowiedz</a>
                            &bull;
                            <a href="{{ message.get_absolute_url }}delete/">usuń</a> 
                        {% else %}
                            <!-- placeholder --> x
                        {% endifnotequal %}
                    </div>
                </div>
                <div class="message_text">
                    {{ message.text }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Brak wiadomości</p>
    {% endif %}
</div>
{% endblock %}
