{% extends "base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/addform.css" />{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/javascript/jquery.autogrow.js"></script>
    <script type="text/javascript" src="/static/javascript/markdown.js"></script>
    <script type="text/javascript" src="/static/javascript/textareagrow.js"></script>
{% endblock %}

{% block middle %}

<form action="." method="POST">
    <p><em>Do formatowania składni możesz użyć markdown</em></p>
    {{ form }}
    <div id="id_submit"><input type="submit" value="Wyślij" /></div>
</form>

{% endblock %}
