{% extends "forum/base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/addform.css" />{% endblock %}


{% block forumdata %}
    <form action="." method="POST">
        {{ t_form.as_p }}
        {{ p_form.as_p }}
        <div id="id_submit"><input type="submit" value="Wyślij" /></div>
    </form>
    <div style="text-align:right; margin: 1em 3em;">Do formatowania tekstu możesz użyć składni <a href="http://en.wikipedia.org/wiki/Markdown">mardkown</a></div>

{% endblock %}

