{% extends "base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/addform.css" />{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/javascript/jquery.autogrow.js"></script>
    <script type="text/javascript" src="/static/javascript/markdown.js"></script>
    <script type="text/javascript" src="/static/javascript/textareagrow.js"></script>
{% endblock %}

{% block middle %}
    <div id="response">
        <div id="form">
            <form action="." method="POST" class="center">
                {{ form }}
                <div id="new_post_info">
                    Do formatowania tekstu możesz użyć składni 
                    <a href="http://en.wikipedia.org/wiki/Markdown">mardkown</a> 
                    <span id="markdown_info"></span>
                </div>
                <div id="id_submit">
                    <input name="preview" type="submit" value="Podgląd" />
                    <input name="submit" type="submit" value="Wyślij" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
