{% extends "forum/base.html" %}



{% block forumdata %}
    <table class="list">
        <thead>
            <tr>
                <td class="t_name">Nazwa działu</td>
                <td class="t_tnumb">Wątki</td>
                <td class="t_pnumb">Posty</td>
                <td class="t_last">Ostatni post</td>
            </tr>
        </thead>
        <tbody>
            {% for c in category %}
            <tr>
                <td class="t_name">
                    {% if c.has_new %}Obrazek! {% endif %}
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a><br />
                    <small>{{ c.description }}</small>
                </td> 
                <td class="t_tnumb">{{ c.thread_count }}</td>
                <td class="t_pnumb">{{ c.post_count }}</td>
                <td class="t_last">
                    {{ c.latest_thread_author }} &raquo; 
                    <small>{{ c.latest_thread_date|date:"H:i - d.m.y" }}</small>
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
