{% extends "forum/base.html" %}

{% load markup %}

{% block css %} 
    {{ block.super }} 
    <link rel="stylesheet" type="text/css" href="/static/css/addform.css" />
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="/static/javascript/jquery.autogrow.js"></script>
    <script type="text/javascript" src="/static/javascript/markdown.js"></script>
    <script type="text/javascript" src="/static/javascript/textareagrow.js"></script>
    <script type="text/javascript" src="/static/javascript/blockquote_hide.js"></script>
    <script type="text/javascript" src="/static/javascript/seen_posts.js"></script>
{% endblock %}


{% block title %}{{ block.super}} : {{ thread.title }}{% endblock %}

{% block path %}
    &bull; <a href="/forum/">Index</a>
    &raquo; {{ thread.title }} 
    {% if thread.is_new %} &bull; <strong>Nowy</strong>{% endif %}
    {% if thread.sticky %} &bull; <strong>Przyklejony</strong>{% endif %}
    {% if thread.solved %} &bull; <strong>Rozwiązany</strong>{% endif %}
    {% if thread.closed %} &bull; <strong>Zamknięty</strong>{% endif %}
    
    {% if user.is_authenticated %}
        <div class="thread_prop" style="text-align: right">
            {% ifequal user thread.author %} 
                {% if not thread.solved %} <a href="solved/">Oznacz temat jako &bdquo;rozwiązany&rdquo; </a> {% endif %}
            {% else %}
                {% if perms.thread.can_change %} 
                    {% if not thread.solved %} <a href="solved/">Oznacz temat jako &bdquo;rozwiązany&rdquo; </a> {% endif %}
                {% endif %}
            {% endifequal %}
            {% if perms.thread.can_change %}
                {% if not thread.closed %}
                    &bull; <a href="block/">Zamknij wątek</a>
                {% else %}
                    &bull; <a href="block/">Otwórz wątek</a>
                {% endif %}
            {% endif %}
            {% if perms.thread.can_delete %}
                &bull; <a class="confirm" href="delete/">Usuń cały wątek</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}


{% block forumdata %}
{% for p in post %}
<div class="post">
    <div class="post_body">
        <div class="lnav">
            <strong>
                <a href="{{ p.author.get_absolute_url }}">{{ p.author }}</a> 
            </strong>
            <span style="display:none" class="_post_date">{{ p.date }}</span>
            <p style="margin: 0"><small>
                {{ p.date|date:"D d M Y" }} &bull; {{ p.date|date:"H:i" }}
            </small></p>
            
            <div class="avatar">
                <img src="{{ p.author.get_profile.avatar }}" alt="" />
                <!-- <img src="/static/images/default_avatar.png" alt="" />  -->
            </div>

            {% if user.is_authenticated %} 
                {% if perms.thread.can_change %}
                            <a href="{{ p.id }}/edit/">edytuj</a> 
                            &bull; <a class="confirm" href="{{ thread.get_absolute_url }}{{ p.id }}/delete/">usuń</a> 
                {% else %}
                    {% ifequal p thread.latest_post %}
                        {% ifequal p.author.username user.username %}
                            <a href="{{ p.id }}/edit/">edytuj</a> 
                            &bull; <a class="confirm" href="{{ thread.get_absolute_url }}{{ p.id }}/delete/">usuń</a> 
                        {% endifequal %}
                    {% endifequal %}
                {% endif %}

                {% ifnotequal user thread.latest_post.author %}
                    &bull; <a href="{{ thread.get_absolute_url }}reply/quote/{{ p.id }}/">cytuj</a>
                {% endifnotequal %}
            {% endif %}
        </div>

        <div class="rnav">
            <div class="post_text">{{ p.text|markdown }}</div>
            {% if p.author.get_profile.signature %}
                <div class="post_signature">{{ p.author.get_profile.signature|markdown }}</div>
            {% endif %}
        </div>
    </div>
</div> <!-- class="post" -->
{% endfor %}


{% if user.is_authenticated and not thread.closed %}
    {% ifnotequal thread.latest_post.author user %}
    <div id="response">
        <div id="form">
            <form action="reply/" method="POST" class="center">
                {{ form.text.errors }}
                {{ form.text }}
                <div id="id_submit"><input type="submit" value="Wyślij" /></div>
            </form>
        </div>
    </div>

    <div style="float: right;">
        <div> Do formatowania tekstu możesz użyć składni <a href="http://en.wikipedia.org/wiki/Markdown">mardkown</a> </div>
        <div id="markdown_info"></div>
    </div>
    {% endifnotequal %}
{% endif %}

{% if page.sitecount %}
    <div class="center" style="clear: both;">
        &laquo;
        {% for n in page.sitecount %}
            {% ifequal n page.offset_step %}
                <strong>{{ n }}</strong>
            {% else %}
                <a href="{{ thread.get_absolute_url }}offset/{{n}}/">{{ n }}</a>
            {% endifequal %}
            {% if not forloop.last %}&bull;{% endif %}
        {% endfor %}
        &raquo;
    </div>
{% endif %}


<div style="clear: both; height: 8em;"><!-- placeholder --></div>

{% endblock %}
