{% extends "forum/base.html" %}


{% block path %} 
    {{ block.super }} &raquo; {{ category }}
{% endblock %}

{% block submenu %}
    {% if category %}<li><a href="new/">Nowy temat</a></li>{% endif %}
    {{ block.super }}
{% endblock %}

{% block forumdata %}
    {% if thread %}
        <table class="list">
            <thead>
                <tr>
                    <td class="t_name">Tytuł</td>
                    <td class="t_category">Dział</td>
                    <td class="t_pnumb">Odpowiedzi</td>
                    <td class="t_vnumb">Wyświetlenia</td>
                    <td class="t_last">Ostatnia zmiana</td>
                </tr>
            </thead>
            <tbody>
                {% for t in thread %}
                    <tr>
                        <td class="t_name">
                            {% if t.sticky %}<img src="/static/images/thread_sticky.png" alt="sticky!" />  {% endif %}
                            {% if t.solved %}<img src="/static/images/thread_solved.png" alt="rozwiązany" /> {% endif %}
                            {% if t.is_new %}<img src="/static/images/thread_new.png" alt="nowy" />  {% endif %}
                            {% if t.closed %}<img src="/static/images/thread_closed.png" alt="zamknięty" /> {% endif %}
                            <a href="{{ t.get_absolute_url }}">{{ t.title }}</a>
                            <em><small> przez  {{ t.author }} </small></em>
                        </td> 
                        <td class="t_category">{{ t.category }}</td>
                        <td class="t_pnumb">{{ t.post_count }}</td>
                        <td class="t_vnumb">{{ t.view_count }}</td>
                        <td class="t_last">
                            {{ t.latest_post_date|date:"D d M Y  --  H:i" }} &bull; {{ t.latest_post.author }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not page.sitecount|length_is:"1" %}
            <div class="center">
                {% for n in page.sitecount %}
                    {% ifequal n page.offset %}
                        <strong>{{ n }}</strong>
                    {% else %}
                        <a href="{{ category.get_absolute_url }}offset/{{n}}/">{{ n }}</a>
                    {% endifequal %}
                    {% if not forloop.last %}&bull;{% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <div class="info">Brak postów do wyświetlenia</div>
    {% endif %}
{% endblock %}
